.logo {
    height: 100px;
    width: 100px;
    display: block;
    position: relative;
}

img {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    max-height: 100%;
    max-width: 100%;
}

#overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 0, 0.5);
    z-index: 660;
    flex-direction: column;
}

.lightbox {
    width: 50%;
    z-index: 666;
    background-color: white;
    padding: 25px;
    display: flex;
    flex-direction: column;
}

.loaning {
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    font-family: roboto, sans-serif;
    font-size: 15px;
}

.info {
    display: flex;
    background-color: #f9f9ff;
    padding: 10px 25px;
    flex-direction: column;
    flex-wrap: wrap;
    width: 50%;
}

.info__switch {
    display: none;
}

.info__body {
    max-height: 0;
    overflow: hidden;
    transition: 0.4s;
}

.info__switch:checked~.info__body {
    max-height: 300px;
}

.info__headline::before {
    content: "";
    position: absolute;
    left: -18px;
    top: 4px;
    border: 6px solid transparent;
    border-top-color: cornflowerblue;
}

.info__switch:checked~.info__headline::before {
    transform: rotate(180deg) translateY(6px);
}

.info__headline {
    display: block;
    position: relative;
    margin-bottom: 15px;
    user-select: none;
    color: cornflowerblue;
    font-weight: normal;
    cursor: pointer;
}

.progressbar {
    background: gray;
    margin-top: 20px;
    position: relative;
    width: auto;
    height: 30px;
    text-align: center;
}

.progressbar::before, .progressbar_progress::before {
    content: 'Loading...';
    position: absolute;
    top: 15px;
    transform: translate(-50%, -50%);
}

.progressbar_progress {
    position: absolute;
    background: rgba(255, 65, 118, 0.85);
    left: 0;
    width: 0;
    height: 100%;
    overflow: hidden;
    z-index: 4;
}

.progressbar_progress::before {
    color: white;
}