img {
    width: 100px;
    height: 100px;
}

.lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.lightcontent {
    width: 640px;
    background: white;
    position: relative;
    padding: 20px;
}

.lightbutton {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.progress {
    background-color: grey;
    width: 640px;
    height: 20px;
    position: relative;
}

.red {
    position: absolute;
    background-color: red;
    width: 50%;
    height: 100%;
    z-index: 1;
}

.textt {
    position: absolute;
    width: 100%;
    text-align: center;
    z-index: 2;
}