.modal .bg {
    background-color: red;
    animation: loading 3s linear infinite;
}


@keyframes loading {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

.modal {
    position: fixed;
    left: 50%;
    top: 50%;
    width: 640px;
    padding-top: 80px;
    transform: translate(-50%, -50%);
    height: 100px;
}

.modal .text {
    color: red;
    width: 638px;
    border: 1px solid red;
    text-align: center;

    &:after {
        padding-left: 20px;
        content: "Loading...";
        display: block;
        text-align: center;
        animation: percentage 3s linear infinite;
    }
}

.modal .text:after {
    color: white;
    mix-blend-mode: difference;
}
