

.logo{
    height: 100px;
    width: 100px;
    display: block;
    position: relative;
}
img{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    max-height: 100%;
    max-width: 100%;
}