body {
    font-family: Arial, sans-serif;
}

.lightbox-overlay {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.lightbox {
    background: white;
    padding: 2rem;
    border-radius: 8px;
    width: 640px;
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
    text-align: center;
}

button {
    padding: 10px 20px;
    background: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #0056b3;
}

#openLightbox{

    margin: auto;
}

.logo-container {
    width: 100px;
    height: 100px;
    overflow: hidden;
    margin: 10px;
}

.logo-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.rotated img {
    transform: rotate(15deg);
}
