body{
    padding: 0;
    margin:0;
}

.main{
    width: 100%;
    height: 100vh;
    padding-top: 150px;
}

.content{
    padding:0;
    margin:auto;
    width:700px;
}

.logo_container{
    margin:0;
    padding:0;
}

.logo_image{
    width: 100px;
    height: 100px;
    margin-right:40px;
}

.overlay {
    position: absolute;
    box-sizing: content-box;
    background-color: rgba(59, 67, 76, 0.9);

    padding: inherit;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.modal{
    position: fixed;
    width: 640px;
    left:30%;
    top:200px;
    border: 2px solid black;
    box-shadow: 0 0 10px black;
    border-radius: 10px;
    padding: 25px;
    background: white;
    z-index: 1;
    display:inline-block;
}

.openWindowBtn{
    background: lightgreen;
    color: black;
    font-size: 24px;
    width:200px;
    height:50px;
    border-radius: 5px;
}

.closeWindowBtn{
    background: lightgreen;
    color: white;
    font-size: 24px;
    position: absolute;
    top:20px;
    right:20px;
}

.bar {
    background: #bab9b9;
    margin-top: 20px;
    position: relative;
    width: 640px;
    height: 30px;
    margin-bottom: 20px;
}

.bar::before, .progress::before {
    content: 'Loading';
    color:white;
    position: absolute;
    left: 320px;
    top: 15px;
    transform: translate(-50%, -50%);
}

.progress {
    position: absolute;
    background: lightgreen;
    left: 0;
    width: 0;
    height: 100%;
    overflow: hidden;
    z-index: 4;
}

.bar::before {
    color: black;
}

.accordion{
    background-color: #ccc;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

.accordion:first-child{
    margin-top: 50px;
}

.accordion:hover{
    background-color: lightgreen;
}

.item{
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}
