.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    width: 640px;
    height: 320px;
    background-color: #ffffff;
    position: absolute;
}

.close {
    position: absolute;
    right: 0;
    top: -7px;
    color: darkred;
    font-size: 20px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.progress-bar {
    width: 600px;
    margin: 25px auto;
    position: relative;
    height: 25px;
}

.progress {
    position: absolute;
    overflow: hidden;
    background-color: red;
    height: 20px;
    max-width: 600px;
}

.white-text {
    text-align: center;
    width: 600px;
    color: white;
    position: absolute;
}

.progress-bar-text {
    background-color: grey;
    height: 20px;
    position: absolute;
    width: 600px;
    text-align: center;
}

.progress-bar-background-text {
    height: 20px;
    position: absolute;
    width: 600px;
    text-align: center;
    z-index: -1;
    color: black;
    margin-left: 332px;
}

.progress-bar-background {
    background-color: grey;
    height: 20px;
    position: absolute;
    width: 600px;
    text-align: center;
    z-index: -1;
    margin-left: 332px;
}

.logo5 {
    width: 100px;
    height: 100px;
    border: 2px solid #ccc;
    background: radial-gradient(circle, #bc002d 30px, #fff 32px);
}

.logo4 {
    margin-top: 30px;
    width: 100px;
    height: 100px;
    border: 2px solid #ccc;
    background: radial-gradient(circle, #bc002d 35px, #fff 37px);
}

.logo4.inner1 {
    height: 50px;
    width: 50px;
    margin: 23px auto;
    background: white;
    border-radius: 50%;
    border-color: white;
}

.logo4.inner2 {
    height: 30px;
    width: 30px;
    margin: 9px auto;
    background: #bc002d;
    border-radius: 50%;
    border-color: #bc002d;
}

.logo1.first {
    margin-top: 40px;
    height: 40px;
    width: 40px;
    background: black;
    border-radius: 50%;
    border-color: black;
}

.logo1.second {
    height: 40px;
    width: 40px;
    margin-top: -40px;
    margin-left: 60px;
    background: black;
    border-radius: 50%;
    border-color: black;
}

.logo1.third {
    height: 70px;
    width: 70px;
    margin-top: -15px;
    margin-left: 15px;
    background: black;
    border-radius: 50%;
    border-color: black;
}