img {
    width: 100px;
}

.logo {
    border: 1px solid black;
    overflow: hidden;
    width: 100px;
    height: 100px;
    margin: 10px;
}

.lightbox {
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.lightbox-content {
    position: relative;
    width: 640px;
    max-height: 80%;
    overflow: auto;
    margin: 10% auto;
    background: aliceblue;
    padding: 10px;
}

.blur {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);
}

.exit {
    position: absolute;
    top: 10px;
    right: 10px;
}

.progress-bar {
    background-color: gray;
    width: 100%;
    height: 40px;
    position: relative;
}

.progress-bar::before, .progress::before {
    content: "Loading...";
    font-size: 24px;
    color: white;
    position: absolute;
    left: 320px;
    top: 20px;
    transform: translate(-50%, -50%);
}

.progress-bar::before {
    color: black;
}

.progress {
    position: absolute;
    font-size: 24px;
    background-color: red;
    height: 100%;
    overflow: hidden;
}