img {
    object-fit: contain;
    width: 100px;
    height: 100px;
}

.module-screen {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.module-window {
    width: 640px;
    background-color: white;
    margin: auto;
    display: block;
    position: absolute;
}

#cross {
    position: absolute;
    top: 5px;
    left: 610px;
}

#cross > img {
    object-fit: contain;
    width: 25px;
    height: 25px;
    cursor: pointer;
}