.logo {
    width: 100px;
    height: 100px;
    position: relative;
}

.head {
    width: 65px;
    height: 65px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    top: 25px;
    left: 15px;
}

.ears {
    position: absolute;
}

.left-ear {
    width: 45px;
    height: 45px;
    background-color: black;
    border-radius: 50%;
    position: relative;
    display: inline-block;
}

.right-ear {
    width: 45px;
    height: 45px;
    background-color: black;
    border-radius: 50%;
    position: relative;
    display: inline-block;
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    z-index: 1050;
    opacity: 0;
    transition: opacity 200ms ease-in;
    pointer-events: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.modal:target {
    opacity: 1;
    pointer-events: auto;
    overflow-y: auto;
}

.modal-dialog {
    position: relative;
    width: auto;
    margin: 10px;
}

.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 640px;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    outline: 0;
}

.modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid #eceeef;
}
.modal-title {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.5;
    font-size: 1.25rem;
    font-weight: 500;
}

.close {
    float: right;
    font-family: sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
    text-decoration: none;
}

.close:focus, .close:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    opacity: .75;
}

.modal-body {
    position: relative;
    flex: 1 1 auto;
    padding: 15px;
    overflow: auto;
}