.windows {
    display: flex;
    flex-wrap: wrap;
    width: 100px;
    height: 100px;
    border: 5px black solid;
    margin: 5px;
}

.windows .square {
    width: calc(50% - 4px);
    height: calc(50% - 4px);
    margin: 2px;
}

.windows .square1 {
    background: rgb(241, 81, 27);
}

.windows .square2 {
    background: rgb(128, 204, 40);
}

.windows .square3 {
    background: rgb(0, 173, 239);
}

.windows .square4 {
    background: rgb(251, 188, 9);
}

.flag {
    margin: 5px;
    width: 100px;
    height: 100px;
    background-color: white;
    border: 5px solid black;
    position: relative;
}

.flag::after {
    content: '';
    position: absolute;
    top: 25%;
    left: 25%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #BF0C22FF;
}

.overlay {
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(85, 84, 84, 0.8);
    width: 100%;
    height: 100%;
}

.lightbox {
    box-sizing: border-box;
    background-color: white;
    border: 1px solid black;
    position: fixed;
    top: 25%;
    left: calc(50% - 320px);
    width: 640px;
    padding: 20px;
}

.lightbox .closeButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    left: 92.1%;
    z-index: 1;
}

.lightbox .closeButton:hover {
    background-color: red;
    color: aliceblue;
    cursor: pointer;
}

.bar {
    background-color: gray;
    width: 600px;
    height: 30px;
    position: relative;
    margin: 20px auto;
}

.bar::before, .progress::before {
    content: "Loading...";
    color: white;
    position: absolute;
    left: 300px;
    top: 15px;
    transform: translate(-50%, -50%);
}

.progress {
    position: absolute;
    background-color: red;
    height: 100%;
    z-index: 1;
    overflow: hidden;
}

.bar::before {
    color: black;
}

.accordeon{
    display: flex;
    flex-direction: column;
}

label{
    background-color: gray;
    margin-bottom: 10px;
    padding: 20px 10px;
    color: white;
    font-size: 48px;
}

.acc-hidden {
    display: none;
}

.acc-content {
    display: none;
}

.acc-content p {
    margin: 10px 0;
    background-color: rgba(66, 66, 66, 0.8);
    padding: 20px 10px;
    color: white;
    font-size: 24px;
}

.acc-hidden:checked + label + .acc-content {
    display: block;
}
